
.about {
	.main-content {
		max-width: 940px;
		margin: 0 auto 60px;
		overflow: hidden;

		.image {
			float: left;

			img {
				display: block;
				float: left;
				margin-right: 20px;

				&.img-tablet {
					display: none;
				}
			}
		}

		.text {
			display: block;
			float: left;
			max-width: 300px;

			border-top: 1px solid #000;
			padding-top: 15px;

			p {
				margin-bottom: 24px;
				font-size: 14px;
				line-height: 18px;
				font-weight: 300;
			}
		}
	}
}

@media screen and (max-width:1023px) {
	.about {
		.main-content {
			max-width: 700px;
			margin: 0 auto 60px;

			img {
				float: none;
				margin-right: 0;
				margin-bottom: 20px;
				width: 100%;

				&.img-main {
					display: none;
				}
				&.img-tablet {
					display: block;
				}
			}
			.text {
				float: none;
				max-width: 100%;
			}
		}
	}
}

@media screen and (max-width:767px) {
	.about {
		.main-content {
			max-width: 100%;
			margin: 0 20px 60px;
		}
	}
}