.contact {
	.main-content {
		ul {
			margin: 0 auto;
			width: 420px;
			border-bottom: 1px solid #000;

			li {
				display: block;
				border-top: 1px solid #000;
				
				a {
					display: block;
					color: #000;
					text-decoration: none;
					margin: 0 0 0 55px;
					padding: 25px 0 25px 60px;

					background: url(../img/sprite_contact.png) no-repeat left 20px;
					background-size: 44px 400px;

					&.phone {
						background-position: left -55px;
					}
					&.facebook {
						background-position: left -135px;
					}
					&.tumblr {
						background-position: left -210px;
					}
					&.twitter {
						background-position: left -280px;
					}
				}
			}
		}
	}
}



@media screen and (max-width:460px) {
	.contact {
		.main-content {
			ul {
				margin: 0 20px 60px;
				max-width: 420px;
				width: auto;

				li {
					a {
						padding: 28px 0 25px 60px;
						font-size: 13px;
						margin: 0;
					}
				}
			}
		}
	}
}