.contact {
	.main-content {
		ul {
			margin: 0 auto;
			width: 420px;
			border-bottom: 1px solid #000;

			li {
				display: block;
				border-top: 1px solid #000;
				padding: 20px 0;

				a {
					color: #000;
					text-decoration: none;
					padding-left: 50px;
				}
			}
		}
	}
}