
.news {

	#news-slider {
		max-width: 1000px;
		margin: 0 auto 80px; 

		.news-img {
			max-width: 680px;
		}

		.news-text {
			position: absolute;
			right: 0;
			bottom: 0;
			max-width: 290px;
		}
	}

	.news-prev,
	.news-next {
		position: absolute;
		top: 50%;
		display: block;
		color: #000;
		text-decoration: none;
		margin: -30px 48px 48px;

		width: 32px;
		height: 60px;
		background: url(../img/big-arrows-black.png) no-repeat left center;
		overflow: hidden;
		text-indent: -5000px;
	}
	.news-prev {
		left: 0;
	}
	.news-next {
		right: 0;
		background-position: right center;
	}
	
	.news-list {
		.news-content {
			outline: none;
		}
	}
}


.touch {
	.news {
		.news-prev,
		.news-next {
			display: none;
		}
	}
}

@media screen and (max-width:1100px) {
	.news {
		#news-slider {
			margin-left: 5%;
			max-width: 90%;

			.news-img {
				width: 100%;
				display: block;
				margin: 0 auto;
			}

			.news-text {
				position: static;
				max-width: 680px;
				margin: 20px auto;
			}
		}
	}
}