
.portfolio-detail {
	
	.project-detail {
		.project-images {
			.fullsize;
			z-index: -1;

			.project-item {
				.fullsize;
				background: no-repeat center center;
				background-size: cover;
			}
		}
	}

}
