@media screen and (max-width:1000px) {
	header {
		.lang-container {
			right: 20px;
			top: 20px;
		}
	}
}
@media screen and (max-width:700px) {
	header {
		height: 135px;

		nav {
			width: 260px;
			padding-top: 30px;

			ul {
				text-align: right;
				display: block;
				float: left;
				margin-top: 14px;

				&.nav-right {
					text-align: left;
				}

				li {
					float: none;
					margin-right: 0;
					padding-top: 0;

					a {
						font-size: 13px;
						line-height: 22	px;
					}

					&.last {
						margin-right: 0;
					}
				}
			}
			
			h1 {
				margin: 0 25px;
				
				img {
					width: 75px;
				}
			}
		}

		.lang-container {
			right: auto;
			left: 50%;
			top: 10px;
			margin-left: -31px;
		}
	}

	.lang-en {
		header {
			nav {
				width: 260px;
			}
		}
	}

	.lang-fr {
		header {
			nav {
				width: 260px;
			}
		}
	}

	.lang-de {
		header {
			nav {
				width: 310px;
				.nav-left {
					margin-left: 23px;
				}
			}
		}
	}
}