
@media screen and (max-width:980px) {
	header {
		height: 160px;
	}
	footer {
		.footer-inside {
			max-width: auto;
			margin: 20px 20px 0;
		}
	}
}
@media screen and (max-width:810px) {
	#wrapper {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;

		background: url(../img/bg-mobile.png) repeat-y 100% top;

		.transition( left 0.2s ease-out );
	}
	header {
		height: 120px;

		nav {
			padding: 20px 0 0 20px;
			
			ul {
				display: none;
			}
			
			h1 {
				img {
					width: 60px;
				}
			}
		}
		.mobile-nav {
			display: block;
			width: 0;
			height: 100%;

			position: absolute;
			top: 0;
			right: 0;
			
			.open {
				position: absolute;
				left: -50px;
				top: 20px;

				width: 30px;
				height: 30px;
				background: @sprite no-repeat -70px -60px;
				background-size: 512px 512px;

				text-indent: -5000px;
				overflow: hidden;
			}

			ul {
				display: none;
				padding: 13px 0 0 20px;

				li {
					margin: 5px 0 18px;
					a {
						text-transform: uppercase;
						text-decoration: none;
						font-size: 14px;
						line-height: 23px;
						font-weight: 600;

						&.selected {
							opacity: 0.5;
						}
					}
				}
			}
		}
	}

	.main-content {
		margin-bottom: 60px;
	}

	.show-menu {
		#wrapper {
			left: -150px;
			overflow-x: visible;

			header {
				.mobile-nav {
					width: 150px;
					right: -150px;

					ul {
						display: block;
						height: 100%;
						background: #444;

						li {
							a {
								color:#f4f4f4;
							}
						}
					}
				}
			}
		}
	}

	.home-loaded,
	.portfolio-detail {
		header {
			.mobile-nav {
				.open {
					background-position: -30px -60px;
				}
			}
		}
	}

	.show-menu {
		.home-loaded,
		.portfolio-detail {
			#wrapper {
				header {
					.mobile-nav {
						ul {
							background: transparent;
							li {
								a {
									color: #444;
								}
							}
						}
					}
				}
			}
		}
	}
}

.touch {
	header {
		position: static;
		z-index: 2;
	}
	.main-content {
		max-width: 100%;
	}
	footer {
		position: absolute;
		z-index: 2;

		.footer-inside {
			height: 50px;

			.social-container,
			.infos {
				top: 20px;
			}
			.social-container {
				width: 120px;
				margin-left: -60px;

				.footer-fb {
					margin-right: 20px;
				}
				.footer-tb {
					margin-right: 20px;
				}
			}
			.lang-container {
				margin-top: 20px;
			}
		}
				
	}

	.about,
	.news,
	.contact,
	.portfolio {
		#wrapper {
			height: auto;
		}
		footer {
			position: static;
		}
	}
}