@media screen and (max-width:980px) {
	footer {
		.footer-inside {
			max-width: auto;
			margin: 20px 20px 0;
		}
	}
}
@media screen and (max-width:810px) {
	header {
		height: 80px;

		nav {
			padding: 20px 0 0 20px;
			
			ul {
				display: none;
			}
			
			h1 {
				img {
					width: 30px;
				}
			}
		}

		.mobile-nav {
			display: block;
		}
	}

	.main-content {
		margin-bottom: 60px;
	}
}

.touch {

}