
@import "reset.less";
@import "mixins.less";
@import "constants.less";
@import "lib.less";

/* Project Specific */
html, body, ul, p,
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
body {
	background: #f1f0ee;
}

ul {
	list-style: none;
}

.load {
	text-align: center;
	margin-top: 40px;
}

/* Header */
header {
	height: 200px;
	
	/* Nav */
	nav {
		padding-top: 40px;
		overflow: hidden;
		text-align: center;
		width: 600px;
		margin: 0 auto;

		ul {
			text-align: center;
			display: block;

			li {
				display: block;
				float: left;
				margin-right: 48px;
				padding-top: 40px;

				a {
					text-transform: uppercase;
					text-decoration: none;
					color: #000;
					font-size: 18px;
					line-height: 22px;
				}

				&.last {
					margin-right: 0;
				}
			}
		}
		
		h1 {
			margin-right: 48px;
			text-align: center;
			display: block;
			float: left;

			img {
				display: block;
				width: 100px;
			}
			.logo-white {
				display: none;
			}
		}
	}
}

.home,
.portfolio-detail {
	header {
		nav {
			ul {
				li {
					a {
						color: #fff;
					}
				}
			}
			h1 {
				.logo-white {
					display: block;
				}
				.logo-black {
					display: none;
				}
			}
		}
	}
}

/* Footer */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 44px;
	background: #fff;

	ul {
		text-align: center;
		width: 80px;
		margin: 15px auto 0;
		overflow: hidden;

		li {
			display: block;
			float: left;

			a {
				display: block;
				float: left;
				width: 25px;
				height: 20px;

				overflow: hidden;
				text-indent: -5000px;
				background: url(../img/sprite_footer.png) no-repeat left top;
				background-size: 90px 15px;

				&.footer-fb {
					background-position: 9px top;
				}
				&.footer-tb {
					background-position: -23px top;
				}
				&.footer-tw {
					background-position: -53px top;
					width: 30px;
				}
			}
		}
	}
}

.main-content {
	margin-bottom: 44px;
}

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	height: 100%;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
	height: 100%;
}
.swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;

	height: 100%;
	background: no-repeat center center;
	background-size: cover;
}

@import "responsive.less";
@import "partials/home.less";
@import "partials/portfolio.less";
@import "partials/portfolio-detail.less";
@import "partials/about.less";
@import "partials/contact.less";
@import "partials/news.less";
@import "partials/components.less";

